* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #ededed;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 20px auto 100px;
  background: #fff;
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}

.cont.cont_toggle .sub-cont {
  transform: translateX(-640px);
}

input,
button {
  border: none;
  outline: none;
  background: none;
  font-family: "Montserrat", sans-serif;
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
  background: #fff;
}

.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url("https://media.admagazine.com/photos/61b107d26d5c83f485b439ac/master/w_2000,h_3000,c_limit/06-Agueda-Portugal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  transition: transform 1.2s ease-in-out;
}

.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.cont.cont_toggle .img:before {
  transform: translateX(640px);
}

.img__text {
  z-index: 2;
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 24px;
  line-height: 1.5;
}

.cont.cont_toggle .img__text.img_signUp {
  transform: translateX(520px);
}

.img__text.img_signIn {
  transform: translateX(-520px);
}

.cont.cont_toggle .img__text.img_signIn {
  transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s ease-in-out;
}

.img__btn span.img_signIn {
  transform: translateY(-72px);
}
.cont.cont_toggle .img__btn span.img_signIn {
  transform: translateY(0);
}
.cont.cont_toggle .img__btn span.img_signUp {
  transform: translateY(72px);
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #324467;
  text-transform: uppercase;
}

.google-btn {
  border: 2px solid #324467;
  color: #324467;
}
.google-btn span {
  font-weight: bold;
  color: #324467;
}

.cont.cont_toggle .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translateX(640px);
}

.sign-up {
  transform: translateX(-900px);
}
.cont.cont_toggle .sign-up {
  transform: translateX(0);
}
